﻿<div class="container">
    <form>
        <div class="form-group">
            <label>Usuário <span style="color: red">*</span></label>
            <input type="text" class="form-control" id="nome" ng-model="item.User" ng-maxlength="50">
        </div>
        <div class="form-group">
            <label>Questão <span style="color: red">*</span></label>
            <textarea type="text" class="form-control" ng-model="item.Text" ng-maxlength="maxCharacters"></textarea>
            <small>{{maxCharacters - item.Text.length}} caracteres restantes</small>
        </div>
        <button type="button" ng-click="gravar()" ng-disabled="!item.User || !item.Text" class="btn btn-primary">Perguntar</button>
    </form>
    <hr />
    <h3>Questões existentes:</h3>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <label>
                Pesquisar conteúdo das questões:
            </label>
            <input class="form-control" type="text" placeholder="Pesquisar" aria-label="Search" ng-model="searchText">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <input ng-model="searchFilterNoAnswers" type="checkbox" />
            <label>
                Exibir apenas questões não respondidas
            </label>
        </div>

        <div class="col-md-6">
            <input ng-model="filterDate" type="checkbox" />
            <label>
                Filtrar por Data de Criação em ordem crescente
            </label>
        </div>
    </div>
    <hr>
    <div class="list-group" ng-repeat="date in dates | orderBy:CreationDate:filterDate">
        <h4>Efetuadas no dia {{date.CreationDate | date: 'dd/MM/yyyy'}}</h4>
        <div class="list-group" ng-repeat="questioning in date.Questionings | filter:{Text:searchText} | filter: selectedNoAnswers">
            <a ng-click="details(questioning.Id)" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="mb-1">{{questioning.Text}}</h4>
                    <small>{{questioning.Answers.length}} {{answers(questioning.Answers.length)}}</small>
                </div>
            </a>
        </div>
        <hr />
    </div>
</div>