﻿<div class="container">
    <h2>Responder Questão</h2>
    <form>
        <div class="form-group">
            <h4>Pergunta: </h4>
            <h3>{{questioning.Text}}</h3>
            <h5>Usuário: {{questioning.User}}</h5>
            <h5>Data de Criação: {{questioning.CreationDate | date: 'dd/MM/yyyy'}}</h5>
        </div>

        <div class="form-group">
            <label>Usuário <span style="color: red">*</span></label>
            <input class="form-control" ng-model="answer.User" required />
        </div>
        <div class="form-group">
            <label>Resposta <span style="color: red">*</span></label>
            <textarea type="text" class="form-control" ng-model="answer.Text" placeholder="Resposta" required></textarea>
            <small>{{maxCharacters - answer.Text.length}} caracteres restantes</small>
        </div>

        <div class="form-actions">
            <button type="button" ng-disabled="!answer.User || !answer.Text" ng-click="gravarResposta(answer)" class="btn btn-primary">Responder</button>
            <button type="button" ng-click="voltar()" class="btn btn-primary">Voltar</button>
        </div>
    </form>
    <hr />
    <div ng-show="answers.length > 0">
        <div class="row">
            <div class="col-md-4">
                <input ng-model="filterDate" type="checkbox" />
                <label>
                    Filtrar por Data de Criação em ordem crescente
                </label>
            </div>
        </div>
        <h4>
            Respostas desta questão ({{answers.length}} {{answersLength(answers.length)}})
        </h4>
        <div class="list-group" ng-repeat="answer in answers | orderBy:answer.CreationDate:filterDate ">
            <a class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <span class="mb-1">Usuário: {{answer.User}} - <small>{{answer.CreationDate | date: 'dd/MM/yyyy'}}</small></span>
                </div>
                <h4 class="mb-1">{{answer.Text}}</h4>
            </a>
        </div>
    </div>

</div>