﻿<div class="theme-panel hidden-xs hidden-sm">
    <div class="toggler">
    </div>
    <div class="toggler-close">
    </div>
    <div class="theme-options">
        <div class="theme-option theme-colors clearfix">
            <span>
                TEMAS DE CORES
            </span>
            <ul>
                <li class="color-default tooltips" ng-class="config.themeColor == 'default' ?  'current' : ''"
                    data-style="default" data-container="body" data-original-title="Default"
                    ng-click="changeThemeColor('default')">
                </li>

                <li class="color-darkblue tooltips" ng-class="config.themeColor == 'darkblue' ?  'current' : ''"
                    data-style="darkblue" data-container="body" data-original-title="Dark Blue"
                    ng-click="changeThemeColor('darkblue')">
                </li>

                <li class="color-blue tooltips" ng-class="config.themeColor == 'blue' ?  'current' : ''"
                    data-style="blue" data-container="body" data-original-title="Blue"
                    ng-click="changeThemeColor('blue')">
                </li>

                <li class="color-grey tooltips" ng-class="config.themeColor == 'grey' ?  'current' : ''"
                    data-style="grey" data-container="body" data-original-title="Grey"
                    ng-click="changeThemeColor('grey')">
                </li>

                <li class="color-light tooltips" ng-class="config.themeColor == 'light' ?  'current' : ''"
                    data-style="light" data-container="body" data-original-title="Light"
                    ng-click="changeThemeColor('light')">
                </li>

                <li class="color-light2 tooltips" ng-class="config.themeColor == 'light2' ?  'current' : ''"
                    data-style="light2" data-container="body" data-html="true" data-original-title="Light 2"
                    ng-click="changeThemeColor('light2')">
                </li>
            </ul>
        </div>

        <!--<div class="theme-option">
            <span>
                Layout
            </span>
            <select class="layout-option form-control input-sm" ng-model="config.pageLayout">
                <option value="fluid" selected="selected">Fluído</option>
                <option value="boxed">Fixo</option>
            </select>
        </div>-->
        <!--<div class="theme-option">
            <span>
                Cabeçalho
            </span>
            <select class="page-header-option form-control input-sm" ng-model="config.pageHeader">
                <option value="fixed" selected="selected">Fixo</option>
                <option value="default">Padrão</option>
            </select>
        </div>-->
        <!--<div class="theme-option">
            <span>
                Barra Lateral
            </span>
            <select class="sidebar-option form-control input-sm" ng-model="config.sideBar">
                <option value="fixed">Fixa</option>
                <option value="default" selected="selected">Padrão</option>
            </select>
        </div>-->

        <!--<div class="theme-option">
            <span>
                Posição Barra Lateral
            </span>
            <select class="sidebar-pos-option form-control input-sm" ng-model="config.sideBarPosition">
                <option value="left" selected="selected">Esquerda</option>
                <option value="right">Direita</option>
            </select>
        </div>-->
        <!--<div class="theme-option">
            <span>
                Rodapé
            </span>
            <select class="page-footer-option form-control input-sm" ng-model="config.footerStyle">
                <option value="fixed">Fixo</option>
                <option value="default" selected="selected">Padrão</option>
            </select>
        </div>-->
    </div>

</div>
