﻿<div class="page-footer">
    <div class="page-footer-inner">
        {{anoAtual}} &copy; Exame Banco Bexs - {{ tituloAplicacao }} - Versão: {{versaoAplicacao}}
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>