﻿<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#">Início</a>
        </li>
    </ul>
</div>

<h3 class="page-title">
    Início <small>Página Inicial</small>
</h3>
<!-- END PAGE HEADER-->

<div class="row">
    <div class="col-md-12">

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-equalizer font-green-haze"></i>
                    <span class="caption-subject font-green-haze bold uppercase">Configurações</span>
                    <span class="caption-helper">Dados Gerais</span>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal" role="form">
                    <div class="form-body">
                        <h3 class="form-section">Aplicação</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Título:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static">
                                            {{ appConfig.titulo }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">ID:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static">
                                            {{ appConfig.clientId }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Diretório:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static">
                                            {{ appConfig.urlBase }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Rota Inicial:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static">
                                            {{ appConfig.rotaInicial }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h3 class="form-section">Servidor de API</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Versão:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static">
                                            {{ appInfo.versaoApi }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Autenticação:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static">
                                            <a ng-href="{{ appInfo.apiServerUrl }}" target="_blank">{{ appInfo.apiServerUrl }}</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>