<div class="page-logo">
    <a href="index.html">
        <img ng-src="{{logo}}" alt="{{title}}" class="logo-default" />
    </a>
    <div class="menu-toggler sidebar-toggler hide">
        <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
    </div>
</div>