﻿<div id="{{handler}}" class="modal fade">

    <div class="modal-dialog">

        <!-- INICIO MODAL-CONTENT -->
        <div class="modal-content">
            <!-- INICIO MODAL-HEADER -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>

            <!-- INICIO MODAL-BODY -->
            <div class="modal-body">
                <ng-transclude></ng-transclude>
            </div>

            <!-- INICIO MODAL-FOOTER -->
            <div class="modal-footer">

                <button type="button"
                        class="btn btn-default"
                        data-ng-click="confirmClick(false)"
                        data-dismiss="modal">
                    Cancelar
                </button>

                <button type="button"
                        class="btn btn-primary"
                        data-ng-click="confirmClick(true)">
                    Confirmar
                </button>

            </div>

        </div>

    </div>

</div>