﻿<div class="modal fade" data-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="closeModal(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ titulo }}</h4>
            </div>

            <div class="modal-body">

                <p ng-repeat="registro in dados">
                    {{ registro }}
                </p>

            </div>

            <div class="modal-footer">
                <button type="button" ng-click="closeModal(true)" class="btn btn-primary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>