﻿<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <title>Exame Banco Bexs</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="stylesheet" type="text/css" href="assets/css/google-fonts.css" />
    <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/plugins/uniform/css/uniform.default.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-switch/css/bootstrap-switch.min.css" />
    <link href="assets/plugins/bootstrap/css/one-page-wonder.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="assets/plugins/angular-loading-bar/css/loading-bar.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/plugins/ng-notify/ng-notify.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-select/bootstrap-select.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/plugins/angular-ui-grid/ui-grid.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/components.css" id="style_components" />
    <link rel="stylesheet" type="text/css" href="assets/css/layout.css" />
</head>
<body class="page-header-fixed" style="background-color: #868686">
    <div class="page-header navbar navbar-fixed-top">
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#/questioning/lista">Exame Banco Bexs</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="clearfix">
    </div>
    <div class="page-container">
        <div class="page-content">
            <ui-view></ui-view>
        </div>
    </div>

    <div class="page-footer" ng-controller="footerController">
        <div class="page-footer-inner">
            <span>{{ anoAtual }}</span> 
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <script type="text/javascript" src="assets/plugins/require.js" data-main="app/shared/core/coreMain.js"></script>
</body>
</html>